<%-include('../header.ejs') %>



  <section class="dashboard-wrap mtb-40">
    <div class="container">
      <div class="body-content">
        <div class="row">

          <%-include('../admin-sidebar.ejs')%>

            <div class="col-md-9">
              <div class="dash-right">
                <div class="dash-header">
                  <div class="dash-title">
                    <h1>About</h1>
                  </div>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add About
                  </button>
                </div>
              </div>
              
              <div>
                <table class="table table-bordered table-striped">
                  <tr>
                    <th>#ID</th>
                    <th>About</th>
                    <th>Action</th>
                  </tr>
                  <tr>
                    <td>
                      <%= a._id %>
                    </td>
                    <td>
                      <%= a.about %>
                    </td>
                    <td><a href="/admin/aboutEdit/<%=a._id %>" class="btn btn-info btn-sm">Edit</a></td>

                  </tr>

                </table>
              </div>

            </div>
        </div>

      </div>
    </div>
    </div>
  </section>

  <!---Modal Blog Create-->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Blog</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/insertabout" method="post">


            <div class="md-3">
              <label for="">About</label>
              <textarea type="text" name="about" class="form-control">
                    </textarea>
            </div>

            <div>
              <button type="submit" class="btn btn-primary">Button</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>




  <%-include('../footer.ejs') %>